@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --font-family: "Open Sans", sans-serif;

  --body-color: hsl(240, 11%, 96%);

  --title-color: hsl(240, 3%, 12%);
  --text-color: hsl(240, 2%, 44%);

  --primary-color: hsl(var(--hue-color), 89%, 60%);

  --title-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-semi-bold: 600;
  --font-bold: 700;
}

/*
|--------------------------------------------------
| BASE
|--------------------------------------------------
|*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--body-color);
  /* position: relative; */
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/wallpaper-gradient-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.5;
} */
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*
|--------------------------------------------------
| LAYOUT
|--------------------------------------------------
|*/

main {
  /* padding: 4rem 2rem; */
}

.main__title {
  margin-top: 4rem;
  font-size: var(--title-font-size);
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
  margin: 0 auto;
}

.section {
  position: relative;
  /* padding-top: 3.2rem;
  padding-bottom: 3.2rem; */
  margin: 4rem 0;
  padding: 2rem;

  border-top: 1px solid rgb(30 41 60 /1);
}
/*
|--------------------------------------------------
| TYPOGRAPHY
|--------------------------------------------------
|*/

/* footer */
footer {
  text-align: center;
  font-size: 0.75rem;

  color: rgb(148 163 184 /1);
  background-color: var(--body-color);

  padding: 0.75rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 576px) {
}

#foodMenu {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 2rem 0;
}

.foodItem {
  position: relative;

  background-color: white;
  border-radius: 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);

  border: none;
  padding: 10px;
  text-align: center;

  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.foodItem img {
  max-width: 100%;
  aspect-ratio: 4/5;
  height: auto;
  object-fit: cover;
}

.foodItem:hover {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}

/* .foodItem:hover * {
  pointer-events: none;
} */

.list-item-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.foodItem h3 {
  color: var(--text-color);
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);

}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  position: relative;
  top: 50%;

  transform: translateY(-50%);
  overflow: auto;

  /* Animation */

  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: scale(0.5) translateY(-100%);
  }
  100% {
      opacity: 1;
      transform: scale(1) translateY(-50%);

  }
}

.modal-content::-webkit-scrollbar {
  width: 4px;
  background-color: white;
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#modalImage {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
/* Close Button */
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Loading overlay styles */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the loading overlay is on top */
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey border */
  border-top: 6px solid #3498db; /* Blue border on top */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Rotate animation */
}

/* Rotate animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
