@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --hue-color: 250;
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);

  --primary-color: hsl(var(--hue-color), 89%, 60%);

  --font-family: 'Open Sans', sans-serif;

  --title-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-semi-bold: 600;
  --font-bold: 700;
}

/*
|--------------------------------------------------
| BASE
|--------------------------------------------------
|*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  /* background-image: url('../img/wallpaper-gradient-1.jpg'); */

  background: linear-gradient(
      to right,
      rgb(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2)
    ),
    url('../img/wallpaper-gradient-light.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
|--------------------------------------------------
| LAYOUT
|--------------------------------------------------
|*/

main {
  padding: 4rem 0;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
/*
|--------------------------------------------------
| TYPOGRAPHY
|--------------------------------------------------
|*/

.section__title {
  font-size: var(--title-font-size);
  color: var(--primary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

blockquote {
  font-style: italic;
  text-align: center;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}
.drink-menu {
  padding: 2rem;
}

.drink-menu > ul.menu__container {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}

.drink-menu > ul.menu__container > li.menu__item {
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  /* padding: 0.5rem; */

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  backdrop-filter: blur(10px);
}

.drink-menu > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}

.drink-menu > ul.menu__container > li.menu__item > figure > img {
  width: 100%;
}

.menu__footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.menu__footer a {
}

.drink-menu > ul.menu__container > li.menu__item > figure > figcaption {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
  width: 100%;
}

.drink-menu > ul > li > figure > figcaption > h3 {
  color: var(--title-color);

  padding: 0.75rem;
  font-size: 1.25rem;
}

.drink-menu > ul > li > a {
  padding: 0.5rem 1rem;
}

a {
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
  padding: 1rem 2.5rem;
}

a:hover {
  opacity: 0.6;
}

/* footer */
footer {
  background-color: #333;
  padding: 0.75rem;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
